.navbar{
    background:#1b1c1c;
    display: flex;
    justify-content: center;
    .tabs{
        padding-left: 20px;
        padding-right: 20px;
        font-weight: 600;
        font-size: 1.6vw;
        padding-left: 45px;
        padding-right: 45px;
        color: #ac94f4;
        text-transform: uppercase;
    }
}