.cardcompo {
    margin:20px;
  border:2px solid #1b1b1b;
    .image{
        width:auto;
        
        background-size: contain;
    }
    .image-content  {
        background: #1b1b1b;
    }

}