.gallery-container{
    .gallery-title{
        max-width: 100%;
        margin-bottom: 50px;
        h1{
            text-align: center;
            color:#a32cc4;
            letter-spacing: 3px;
            font-size: 80px;
            font-family: Montserrat, sans-serif;
            font-weight: 600;
            padding-top: 350px;
        }
    }
}
@media(max-width:1024px){
    .gallery-container .gallery-title .gallery-mobile{
        font-size:60px;

    }
    
}