#faq{
    h1 {
        font-family: Montserrat, sans-serif;
        color: white;
        font-size: 60px;
        text-align: center;
        color: #a32cc4;
        padding-bottom: 100px;
        padding-top: 100px;
    }

    width: 60%;
    margin:auto;
    padding-top: 40px;
    padding-bottom: 40px;
    #panel1a-header {
        background-color:#1b1c1c;
    }
    #panel1a-header p{
        font-size: 24px;
        font-family: Montserrat,sans-serif;
        letter-spacing: .8px;
        color: #ac94f4;

    }
    .faq-content{
        background-color: black;
        border-left: 1px solid #1b1b1b;
        border-right: 1px solid #1b1b1b;
        border-bottom: 1px solid #1b1b1b;
        color:white;
        
    }
    .faq-content p{
        font-family: Montserrat,sans-serif;
        font-size: 1.5vw;
    }
}

@media (max-width: 390px) {
    #faq {
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #panel1a-header p{
        font-size: 12px;
    }
}
@media (max-width: 640px) {
    #faq{
        
       
        .faq-content{
            background-color: black;
            border-left: 1px solid #1b1b1b;
            border-right: 1px solid #1b1b1b;
            border-bottom: 1px solid #1b1b1b;
            color:rgb(255, 255, 255);
            
        }
        .faq-content p{
            font-family: Montserrat,sans-serif;
            font-size: 3vw;
        }
    }
}